pyttsx3
speech_recognition
bs4
requests
datetime
pyautogui
random
webbrowser
plyer
pygame
ollama
tkinter
Pillow
pygame
pyttsx3
speech_recognition
ollama
pynput
requests
json
pywhatkit
wikipedia
webbrowser
pyautogui
